nav li {
    color: rgb(0, 0, 0);
    list-style: none;
    padding: 55px;
    font-size: 24px !important;
    line-height: 30px !important; 
    padding: 40px 15px!important;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    margin-top: -20px;
    margin-left: 5px;
  } 
  .main {
    width: 110%;
    height: 100vh;
    background-image: url("pic1.PNG");
    background-repeat: no-repeat;  }
  .lp{
    color: #c92222;
    font-weight: 1000;
    text-decoration: none;
    margin-left: 10%;
    font-size: xx-large;
  } 
  .text-warning {
    padding-top: 50px;
    margin-left: 150px;
    color: #000000!important;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 65px;
    text-shadow: 1px 1px #373737;
  }
   .heading {
    padding-top: 10px;
    margin-left: 50px;
    color: #000000!important;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
  } 
#email{
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    margin-left: 30%;
    margin-top: 20px;
    padding: 15px;
    border: none;
}
#submit{
    background-color: rgb(209, 44, 44);
    border-radius: 30px 30px 30px 30px;
    margin-left: 34%;
    margin-top: 5px;
    padding: 15px;
    border: none;
}